html, body {
    margin: 0;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #000;
    font-family: "latoregular", "Helvetica Neue", sans-serif;
    text-align: center;
    margin: 100px 0;
    color: #6f6f6f;
}
.brand-color {
    color: #e0d38b;
}
@media (max-width: 568px) {
    body {
        margin: 40px 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 1em;
    text-transform: uppercase;
}
.header {
    margin-bottom: 30px;
    letter-spacing: 2px
}
.header h1 {
    height: 58px;
    font-size: 42px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 2px
}
.header h2 {
    height: 14px;
    font-size: 18px;
    line-height: 23px;
    color: #6f6f6f;
    margin: 0
}
@media (max-width: 568px) {
    .header {
        margin-bottom: 0;
    }
    .header h1 {
        font-size: 36px;
    }
    .header h2 {
        height: 9px;
        font-size: 12px;
        line-height: 5px;
        letter-spacing: 1px
    }
}
.header a {
    color: #d3cdad;
    border-bottom: 1px dashed #3c3c3c;
    text-decoration: none
}
.header a:hover {
    color: #f6f6f6;
    border-color: #ccc;
    text-decoration: none
}
.header a:active {
    color: #ccc
}
.quilt {
    padding: 0 20px;
    overflow: hidden;
    margin: 0 auto
}
@media (max-width: 568px) {
    .quilt {
        padding: 0
    }
}
.quilt img {
    width: 950px;
    max-width: 100%
}
.quilt h3 {
    font-size: 21px;
    margin: 55px 0 40px;
    color: #6f6f6f;
    letter-spacing: 1px
}
@media (max-width: 568px) {
    .quilt h3 {
        font-size: 13px;
        margin: 42px 0 30px
    }
}
.store-link {
    display: inline-block;
    margin: 10px 0
}
.store-link img {
    padding: 10px;
    width: 170px;
    border-radius: 4px
}
.store-link:hover img {
    background: #f6f6f6
}
.store-link:active img {
    background: #ccc
}
#retweet_button {
    margin: 48px 0;
}
.two-column {
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}
.two-column .left {
    float: left;
    width: 48%;
}
.two-column .right {
    float: left;
    width: 48%;
}
@media (max-width: 568px) {
    .two-column .left, .two-column .right {
        float: none;
    }
}
.logo {
    margin: 20px 0 40px;
    width: 64px;
}