html, body {
    margin: 0
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: black;
    font-family: "Futura", "Gill Sans", "latoregular", "Helvetica Neue", sans-serif;
    text-align: center;
    margin: 100px 0;
    color: #6f6f6f
}
.brand-color {
    color: red
}
@media (max-width: 568px) {
    body {
        margin: 40px 0
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 1em;
    text-transform: uppercase;
    font-weight: 400;
    font-weight: normal;
}
.header {
    margin-bottom: 30px;
    letter-spacing: 2px
}
.header .logo {
    font-family: "Futura", "Gill Sans", "latoregular", "Helvetica Neue", sans-serif;
    margin: 0 auto 32px;
    padding: 0;
    font-size: 80px;
    font-style: italic;
    color: red;
    font-weight: 400;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    width: auto
}
.header h1 {
    font-family: "Futura", "Gill Sans", "latoregular", "Helvetica Neue", sans-serif;
    height: 58px;
    font-size: 42px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 400;
    font-weight: normal;
    text-transform: none
}
.header h2 {
    font-family: "Futura", "Gill Sans", "latoregular", "Helvetica Neue", sans-serif;
    height: 14px;
    font-size: 18px;
    line-height: 23px;
    color: #6f6f6f;
    margin: 0;
    font-weight: 400;
    font-weight: normal;
    text-transform: none
}
@media (max-width: 568px) {
    .header {
        margin-bottom: 0;
    }
    .header h1 {
        font-size: 36px;
    }
    .header h2 {
        height: 9px;
        font-size: 12px;
        line-height: 5px;
        letter-spacing: 1px
    }
}
.header a {
    color: #aaa;
    border-bottom: 1px solid #3c3c3c;
    text-decoration: none
}
.header a:hover {
    color: #f6f6f6;
    border-color: #ccc;
    text-decoration: none
}
.header a:active {
    color: #ccc
}
.quilt {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 950px;
    max-width: 100%;
    padding: 0 20px;
    overflow: hidden;
    margin: 0 auto
}
.quilt:not(.text) img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.quilt[fullscreen] .quilt-inner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.quilt[fullscreen] .quilt-inner h3 {
    display: none;
}
.quilt[fullscreen] .quilt-inner .image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: auto;
    text-align: center;
    margin: auto;
}
.quilt[fullscreen] .quilt-inner .image-container img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}
body[fullscreen-quilt] .fullscreen-quilt {
    display: block;
}
.quilt.text {
    text-align: left
}
.quilt.text img {
    width: auto;
    max-width: 100%
}
@media (max-width: 568px) {
    .quilt {
        padding: 0
    }
}
.quilt .image-container.loading {
    background: #222;
    min-height: 250px;
    margin: 10px 0
}
.quilt.text .image-container.loading {
    background: #000;
}
.quilt img {
    width: 100%
}
.quilt.wider img {
    width: 1200px;
    max-width: 100%
}
.quilt h3 {
    font-size: 21px;
    margin: 55px 0 40px;
    color: #6f6f6f;
    letter-spacing: 1px
}
.quilt h3 > div {
    font-size: 0.75em
}
@media (max-width: 568px) {
    .quilt h3 {
        font-size: 13px;
        margin: 42px 0 30px
    }
}
.store-link {
    display: inline-block;
    margin: 10px 0
}
.store-link img {
    padding: 10px;
    width: 170px;
    border-radius: 4px
}
.store-link:hover img {
    background: #f6f6f6
}
.store-link:active img {
    background: #ccc
}
#retweet_button {
    margin: 48px 0;
    -webkit-filter: invert(1) grayscale(1);
    -webkit-transform: translateZ(0)
}
.two-column {
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0
}
.two-column .left {
    float: left;
    width: 48%
}
.two-column .right {
    float: left;
    width: 48%
}
@media (max-width: 568px) {
    .two-column .left, .two-column .right {
        float: none
    }
}
.app {
    max-width: 910px;
    margin: 70px auto 0;
    padding: 30px 20px 20px;
    background: #222
}
.app h3 {
    color: #f6f6f6
}
.app p {
    margin: .5em 0 1.6em
}
.app a {
    color: #aaa;
    border-bottom: 1px solid #3c3c3c;
    text-decoration: none
}
.app a:hover {
    color: #f6f6f6;
    border-color: #ccc;
    text-decoration: none
}
.app a:active {
    color: #ccc
}
.video-container {
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%
}
.preview-actions {
    margin-top: 70px
}
.preview-actions a {
    background: red;
    color: black;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px
}
.preview-actions .message {
    margin-top: 40px;
}